.app-wrapper {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h"
  "n c";
  gap: 10px;
}

.header {
  grid-area: h;
  background-color: #06b667;
  display: flex;
  align-items: center;
  padding-left: 13px;
}

.nav {
  grid-area: n;
  background-color: #06b667;
  padding: 10px 15px;
}

.nav a {
  text-decoration: none;
  color: #fafafa;
}

.nav a:hover {
  text-decoration: none;
}

.nav div:last-child {
  margin-top: 20px;
}

.content {
  grid-area: c;
  background-color: blueviolet;
  width: 100%;
}


.content-header-img {
  background: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position-y: 40%;
}
.logo {
  height: 50px;
  width: auto;
}